<%- include('partials/header') %>

<a href="/blog/new">Add new recipe</a>

<% recipes.forEach(recipe => { %>
    <div>
        <h1><%= recipe.name %></h1>
        <img src="<%= recipe.image %>" width="300" height="250">
        <p><%= recipe.ingredients %></p>
        <a href="/blog/<%= recipe._id %>">Read more...</a>
    </div>
<% }) %>

<%- include('partials/footer') %>