<%- include('partials/header') %>

    <div class="container">
        <% recipes.forEach(recipe => { %>
            <div class="post">
                <img src="<%= recipe.image %>">
                <div class="post-text">
                    <a href="/blog/<%= recipe._id %>" class="title"><strong><%= recipe.name %></strong></a>
                </div>
            </div>
        <% }) %>
    </div>

<%- include('partials/footer') %>