<%- include('partials/header') %>

    <div class="show-container">
        <% recipes.forEach(recipe => { %>
            <div class="post">
                <img src="<%= recipe.image %>">
                <div class="post-text">
                    <h2><%= recipe.name %></h2>
                    <p><%= recipe.intro %></p>
                    <button class="more">
                        <a href="/blog/<%= recipe._id %>">Read More</a>
                    </button>
                </div>
            </div>
        <% }) %>
    </div>

<%- include('partials/footer') %>

