<%- include('partials/header') %>

<div class="show-container">

    <img src="<%= recipe.image %>">
    <h1><%= recipe.name %></h1>

    <div class="buttons">
        <button><a href="/blog/<%= recipe._id %>/edit">Edit Recipe</a></button>
        <form action="/blog/<%= recipe._id %>?_method=DELETE" method="post">
            <button>Delete</button>
        </form>
    </div>

    <h3>Ingredients</h3>
    <hr />
    <ul>
        <% recipe.ingredients.forEach(ingredient => { %>
            <li><%= ingredient %></li>
        <% }) %>
    </ul>

    <h3>Description</h3>
    <hr />
    <p><%= recipe.description %></p>
    


</div>


<%- include('partials/footer') %>

