<%- include('partials/header') %>

<p><%= recipe.name %></p>
<img src="<%= recipe.image %>" width="400" height="350">
<p><%= recipe.ingredients %></p>
<p><%= recipe.description %></p>

<a href="/blog/<%= recipe._id %>/edit">edit recipe</a>

<form action="/blog/<%= recipe._id %>?_method=DELETE" method="post">
    <button>Delete</button>
</form>

<%- include('partials/footer') %>

